<!-- Button trigger modal -->
  <!-- Modal -->
  <div class="modal fade" id="paymentModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Payment Screen</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Card User</label>
                <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Please write card user">
              </div>
              <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Card Number</label>
                <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Please write card number">
              </div>
              <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Expiration Date</label>
                <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Please write expiration date">
              </div>
              <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">CVC</label>
                <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Please write card cvc">
              </div>
              <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Total Pay</label>
                <h3 class="text-danger text-center">{{total|currency:'TRY':'symbol-narrow':'1.2-2'}}</h3>
              </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="paymentModalCloseBtn">Close</button>
          <button type="button" class="btn btn-success" (click)="payment()">Pay it!</button>
        </div>
      </div>
    </div>
  </div>